PORT=2525
UPSTREAM_ORIGIN=https://bloxd.io
LOG_DIR=./logs
UPSTREAM_TIMEOUT_MS=30000
MAX_BODY_BYTES=16777216
WS_QUEUE_MAX_BYTES=1048576
SLOW_REQUEST_MS=2000
ALLOWED_ROOT_HOSTS=bloxd.io,googleapis.com,gstatic.com,google.com,recaptcha.net,cloudflare.com,cloudflareinsights.com,unpkg.com,bytebrew.io,ytimg.com,googletagmanager.com
